@model BohoTours.Web.ViewModels.Vacations.CreateVacationViewModel

@{
    ViewData["Title"] = "Add vacation";
}

<div class="text-center m-2">
    <h1 class="cust-font">Add new vacation</h1>
</div>
<hr />
<form method="post" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Transports"></label>
            <select asp-for="TransportId" class="form-control custom-select mr-sm-2" asp-items="@Model.Transports"></select>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Duration"></label>
            <input asp-for="Duration" class="form-control" />
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Images"></label>
            <input asp-for="Images" class="form-inline" />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Summary"></label>
        <textarea asp-for="Summary" class="form-control" rows="5" ></textarea>
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label class="mb-2 mr-sm-2" asp-for="CountryId"></label>
            <select asp-for="CountryId" class="form-control custom-select mr-sm-2" asp-items="@Model.Countries">
                @if (Model.CountryId == 0)
                {
                    <option>Select Country</option>
                }
                else
                {
                    <option value="@Model.CountryId">@Model.CountryName</option>
                }
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
            <button type="button" class="btn btn-info mt-3" data-toggle="modal" data-target="#addCountryModal">Add new country</button>
            <span id="infoAddCountry" class="text-info" hidden>Successfully added!</span>
        </div>
        <div class="col-md-6 mb-3">
            <label class="mb-2 mr-sm-2" asp-for="TownsVisited">Towns Included</label>
            <select asp-for="TownsVisited" class="form-control custom-select mr-sm-2" multiple asp-items="@Model.Towns">
                @if (Model.CountryId == 0)
                {
                    <option>Select Town</option>
                }

            </select>
            <button type="button" class="btn btn-info mt-3" data-toggle="modal" data-target="#addTownModal">Add new town</button>
            <span id="infoAddTown" class="text-info" hidden>Successfully added!</span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">

        </div>
        <div class="col-md-6 mb-3">

        </div>
    </div>
    <hr>
    <h3 class="d-flex justify-content-center">Prices</h3>
    <div class="d-flex justify-content-center">
        <button id="addRow" type="button" class="btn btn-info mb-3">Add new price</button>
    </div>
    <div id="newRow">
        <input type="hidden" id="total" value="@Model.VacationPrices.Count" />
        @{
            var count = 0;
            @foreach (var room in Model.VacationPrices)
            {
                <div id="inputRow">
                    <input type="hidden" id="thisVacationCount" value="@count" />
                    <label for="VacationPrices[@count].Date" class="mr-2">Date</label>
                    <input type="date" name="VacationPrices[@count].Date" class="mr-2" value="@room.Date" />
                    <input type="hidden" name="VacationPrices[@count].Id" class="mr-2" value="@room.Id" />
                    <label for="VacationPrices[@count].Price" class="mr-2">Price</label>
                    <input type="number" name="VacationPrices[@count].Price" class="mr-2" value="@room.Price" />
                    <button id="removeRow" type="button" class="btn btn-danger mb-2">Remove</button>
                    <input type="hidden" name="VacationPrices[@count].IsDeleted" value="false" />
                </div>

                count++;
            }
        }
    </div>
    <hr />
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg mr-3"> <i class="fa fa-floppy-o"></i> Add vacation</button>
        <a type="submit" class="btn btn-secondary btn-lg" asp-area="Administration" asp-controller="Vacations" asp-action="Create"><i class="fa fa-refresh"></i> Clear</a>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" data-backdrop="false" role="dialog" id="addCountryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCountryModal">Create Country</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="mb-2 mr-sm-2" asp-for="ContinentId">Continent:</label>
                        <select class="form-control custom-select mr-sm-2" asp-for="ContinentId" asp-items="@Model.Continents">
                        </select>
                        <label for="create-country-name" class="col-form-label">Country Name:</label>
                        <input type="text" class="form-control" id="create-country-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeCountryCreate">Close</button>
                <button type="button" class="btn btn-primary" id="addCountry">Add country</button>
            </div>
        </div>
    </div>
</div>
<!-- Town Modal -->
<div class="modal fade" data-backdrop="false" role="dialog" id="addTownModal" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Town</h5>
            </div>
            <div class="modal-body">
                <form>
                    <label class="mb-2 mr-sm-2" for="addedCountryId">Country</label>
                    <select id="addedCountryId" class="form-control custom-select mr-sm-2">
                    </select>
                    <label for="create-town-name" class="col-form-label">Town Name:</label>
                    <input type="text" class="form-control" id="create-town-name">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeTownCreate">Close</button>
                <button type="button" class="btn btn-primary" id="addTown">Add town</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $(document).off('focusin.modal');
        $('#TownsVisited').change(function () {
            $('#infoAddTown').attr('hidden', true);
        });
    </script>

    <script>
        $(document).on('click',
            '#addCountry',
            function () {
                var continentId = $('#ContinentId').val();
                var countryName = $('#create-country-name').val();
                $.ajax({
                    method: 'POST',
                    url: '/api/Countries',
                    data: JSON.stringify({
                        continentId,
                        countryName
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        $("#addCountryModal").modal('hide');
                        $("#create-country-name").val('');

                        $('#CountryId option').remove();
                        $.getJSON('/api/Countries',
                            function (data) {
                                $('#CountryId').append('<option>Select Country</option>');
                                $.each(data,
                                    function () {
                                        $('#CountryId').append('<option value=' +
                                            this.id +
                                            '>' +
                                            this.name +
                                            '</option>');
                                    });
                            });

                        $('#infoAddCountry').removeAttr('hidden');
                    },
                    error: function (res) {
                        var err = JSON.parse(res.responseText);
                        let errorMsg = [];

                        for (var error in err.errors) {
                            err.errors[error].forEach(x => errorMsg.push(x));
                            alert(errorMsg.join('\r\n'));
                        }

                    }
                });
            });
    </script>
    <script>
        $(document).on('click',
            '#addTown',
            function () {
                var addedCountryId = $('#addedCountryId').val();
                var townName = $('#create-town-name').val();
                $.ajax({
                    method: 'POST',
                    url: '/api/Towns',
                    data: JSON.stringify({
                        addedCountryId,
                        townName
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        $("#addTownModal").modal('hide');
                        $("#create-town-name").val('');

                        $('#TownsVisited option').remove();
                        $.getJSON('/api/Towns',
                            { countryId: $('#CountryId').val() },
                            function (data) {
                                $.each(data,
                                    function () {
                                        $('#TownsVisited').append('<option value=' +
                                            this.id +
                                            '>' +
                                            this.name +
                                            '</option>');
                                    });
                            });

                        $('#infoAddTown').removeAttr('hidden');
                    },
                    error: function (res) {
                        var err = JSON.parse(res.responseText);
                        let errorMsg = [];
                        for (var error in err.errors) {
                            err.errors[error].forEach(x => errorMsg.push(x));
                            alert(errorMsg.join('\r\n'));
                        }

                    }
                });
            });
    </script>

    <script type="text/javascript">
        $('#CountryId').change(function () {
            $('#infoAddCountry').attr('hidden', true);
            $('#TownsVisited option').remove();
            $.getJSON('/api/Towns',
                { countryId: $('#CountryId').val() },
                function (data) {
                    $.each(data,
                        function () {
                            $('#TownsVisited').append('<option value=' +
                                this.id +
                                '>' +
                                this.name +
                                '</option>');
                        });
                });
        });
    </script>
    <script>
        $(document).on('click',
            '#addRow',
            function() {
                var rowCount = parseInt($("#total").val());
                rowCount++;
                $("#total").val(rowCount);
                var html = '';
                html += '<div id="inputRow">';
                html += '<input type="hidden" id="thisVacationCount" value="' + (rowCount - 1) + '" />';
                html += '<input type="hidden" id="isDeleted" value="0" />';
                html += '<label for="VacationPrices[' + (rowCount - 1) + '].Date" class="mr-2">Date</label>';
                html += '<input type="date" name="VacationPrices[' + (rowCount - 1) + '].Date" class="mr-2" value="@DateTime.UtcNow.ToString("yyyy-MM-dd")"/>';
                html += '<label for="VacationPrices[' + (rowCount - 1) + '].Price" class="mr-2">Price</label>';
                html += '<input type="number" name="VacationPrices[' + (rowCount - 1) + '].Price" class="mr-2" value="0.00"/>';
                //add more inputs here...
                html += '<button id="removeRow" type="button" class="btn btn-danger mb-2">Remove</button>';
                html += '</div>';


                $('#newRow').append(html);

            });
        $(document).on('click',
            '#removeRow',
            function() {
                $(this).closest('#inputRow').addClass("d-none");
                $(this).siblings('#isDeleted').val(1);

            });

    </script>
    <script>
        $('#addTownModal').on('shown.bs.modal',
            function () {
                $('#addedCountryId option').remove();
                $.getJSON('/api/Countries',
                    function (data) {
                        $.each(data,
                            function () {
                                $('#addedCountryId').append('<option value=' +
                                    this.id +
                                    '>' +
                                    this.name +
                                    '</option>');
                            });
                    });
            });
    </script>
}

