@model IEnumerable<BohoTours.Web.ViewModels.Bookings.VacationBookingViewModel>

    <div class="container">
        <article class="article">
            <h4>Bookings</h4>
            <table class="table table-bordered table-hover">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Vacation Name</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">People</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var booking in Model.OrderByDescending(x => x.Id))
                    {
                    <tr>
                        <td>@booking.Id</td>
                        <td>@booking.VacationName</td>
                        <td>@booking.FirstName @booking.LastName</td>
                        <td>@booking.Email</td>
                        <td>@booking.People</td>
                        <td>@booking.StartDate.ToShortDateString()</td>
                        <td>@booking.EndDate.ToShortDateString()</td>
                        <td>@booking.Price</td>
                        <td>@booking.BookingStatus.ToString()</td>
                        @if (booking.BookingStatus == BohoTours.Data.Models.BookingStatus.Pending)
                        {
                            <td><a class="btn btn-primary" asp-controller="Bookings" asp-action="ConfirmBooking" asp-route-id="@booking.Id" asp-route-type="2">Confirm</a></td>

                        }
                        @if (booking.BookingStatus == BohoTours.Data.Models.BookingStatus.Approved)
                        {
                            <td><a class="btn btn-danger" asp-controller="Bookings" asp-action="DeleteBooking" asp-route-id="@booking.Id" asp-route-type="2">Delete</a></td>

                        }
                    </tr>
                    }
                </tbody>
            </table>
        </article>
    </div>